.card{
    align-items:center;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap:60px;
    background-color: blue;

}

h1.free{
    font-size: 20px;
    font-weight:lighter;
}
h1.plus{
    font-size: 20px;
    font-weight:lighter;
}
h1.premium{
    font-size: 20px;
    font-weight:lighter;
}


.heading{
    padding:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    background-color: blue;
}

.card-body.button{
    border-radius: 0%;
}


.card .card-1{
  background-color: white;
  text-align: center;
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  
}

.card-1:hover{
    transform:scale(1.1);
}

.card-body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:5px;
    text-align: justify;
    justify-content:center;
    
}

.card .card-2{
    background-color: white;
    text-align: center;
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    width:fit-content;
}

.card-2:hover{
    transform:scale(1.1);
}

.card .card-3{
    background-color: white;
    text-align: center;
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    width:fit-content;
}

.card-3:hover{
    transform:scale(1.1);
}

ul{
    line-height: 30px;
    list-style: none;
}


.button{
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        opacity: 0.7;
        transition: all 0.2s;    
}
